
.DS_Store
.DS_Store
 Feature_Cohorts
*.err
*.out
*.login_info
*.txt
*.pdf

Results/
hongrui_result/
output/
my_sklearn_env/
__pycache__
.ipynb_checkpoints

RF_PCA_Trained_Models/
UKB_RF_PCA_Projection/
Ridge_OTU_Trained_Models/
Tweedie_OTU_Trained_Models/

variable_mapping/backup.tsv
variable_mapping/group_completeness_flags.csv
variable_mapping/summary_stats.tsv
variable_mapping/ukb_as_agp_metadata.csv
variable_mapping/pulled_UKBAGP.tsv
variable_mapping/pulled_UKBAGP.tsv
UKB_RF_PCA_Projection/
variable_mapping/*.csv
variable_mapping/*.tsv